NodeRed-Demo/flows.json
[{"id":"28220e2b.4c3da2","type":"mqtt in","z":"b200fe6b.9981d","name":"","topic":"OUT","qos":"2","datatype":"auto","broker":"","x":90,"y":30,"wires":[["d197a2de.1df4b","f004bf75.766f6"]]},{"id":"aec9d983.98d238","type":"mqtt out","z":"b200fe6b.9981d","name":"","topic":"PHOTO","qos":"","retain":"","broker":"","x":280,"y":180,"wires":[]},{"id":"18ccebe3.820424","type":"inject","z":"b200fe6b.9981d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["aec9d983.98d238"]]},{"id":"527b4bc9.a9ca04","type":"mqtt out","z":"b200fe6b.9981d","name":"","topic":"Config","qos":"","retain":"","broker":"","x":450,"y":220,"wires":[]},{"id":"f004bf75.766f6","type":"image","z":"b200fe6b.9981d","name":"","width":"900","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":270,"y":70,"wires":[]},{"id":"1dc80580.51797b","type":"ui_switch","z":"b200fe6b.9981d","name":"","label":"V Flip","tooltip":"","group":"224b0f1a.2f47a","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"vflip\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"vflip\": 0}","offvalueType":"json","officon":"","offcolor":"","x":90,"y":220,"wires":[["527b4bc9.a9ca04"]]},{"id":"c4a1ac53.161fc","type":"ui_switch","z":"b200fe6b.9981d","name":"","label":"H Mirror","tooltip":"","group":"224b0f1a.2f47a","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"hmirror\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"hmirror\": 0}","offvalueType":"json","officon":"","offcolor":"","x":100,"y":260,"wires":[["527b4bc9.a9ca04"]]},{"id":"fbec9a45.0ed338","type":"ui_switch","z":"b200fe6b.9981d","name":"","label":"Colorbar","tooltip":"","group":"224b0f1a.2f47a","order":3,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"colorbar\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"colorbar\": 0}","offvalueType":"json","officon":"","offcolor":"","x":100,"y":300,"wires":[["527b4bc9.a9ca04"]]},{"id":"8494d79a.8987d8","type":"ui_slider","z":"b200fe6b.9981d","name":"","label":"Quality","tooltip":"","group":"224b0f1a.2f47a","order":12,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"10","max":"63","step":1,"x":90,"y":380,"wires":[["e6841e55.f1655"]]},{"id":"e6841e55.f1655","type":"function","z":"b200fe6b.9981d","name":"","func":"msg.payload = {\"quality\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["527b4bc9.a9ca04"]]},{"id":"4a913e51.b8fc1","type":"ui_slider","z":"b200fe6b.9981d","name":"","label":"Brightness","tooltip":"","group":"224b0f1a.2f47a","order":9,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":110,"y":420,"wires":[["d77c24f6.fb29a8"]]},{"id":"d77c24f6.fb29a8","type":"function","z":"b200fe6b.9981d","name":"","func":"msg.payload = {\"brightness\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["527b4bc9.a9ca04"]]},{"id":"56df5d97.0d3484","type":"ui_slider","z":"b200fe6b.9981d","name":"","label":"Contrast","tooltip":"","group":"224b0f1a.2f47a","order":10,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":100,"y":500,"wires":[["9551202a.4ee1f"]]},{"id":"9551202a.4ee1f","type":"function","z":"b200fe6b.9981d","name":"","func":"msg.payload = {\"contrast\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["527b4bc9.a9ca04"]]},{"id":"6b697f52.635c9","type":"ui_switch","z":"b200fe6b.9981d","name":"","label":"Flash","tooltip":"","group":"224b0f1a.2f47a","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"flash\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"flash\": 0}","offvalueType":"json","officon":"","offcolor":"","x":90,"y":460,"wires":[["527b4bc9.a9ca04"]]},{"id":"a8f0aaad.e824f8","type":"ui_slider","z":"b200fe6b.9981d","name":"","label":"Saturation","tooltip":"","group":"224b0f1a.2f47a","order":13,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":110,"y":540,"wires":[["dc904e3e.3763f"]]},{"id":"dc904e3e.3763f","type":"function","z":"b200fe6b.9981d","name":"","func":"msg.payload = {\"saturation\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["527b4bc9.a9ca04"]]},{"id":"3f3fc297.7ef83e","type":"ui_switch","z":"b200fe6b.9981d","name":"","label":"AWB ","tooltip":"","group":"224b0f1a.2f47a","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"awb_gain\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"awb_gain\": 0}","offvalueType":"json","officon":"","offcolor":"","x":90,"y":580,"wires":[["527b4bc9.a9ca04"]]},{"id":"72743f24.45106","type":"ui_slider","z":"b200fe6b.9981d","name":"","label":"WB mode","tooltip":"","group":"224b0f1a.2f47a","order":7,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"4","step":1,"x":100,"y":660,"wires":[["c676b81f.6e0448"]]},{"id":"c676b81f.6e0448","type":"function","z":"b200fe6b.9981d","name":"","func":"msg.payload = {\"wb_mode\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":660,"wires":[["527b4bc9.a9ca04"]]},{"id":"b4aedc72.de873","type":"ui_slider","z":"b200fe6b.9981d","name":"","label":"Gain","tooltip":"","group":"224b0f1a.2f47a","order":8,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"6","step":1,"x":90,"y":620,"wires":[["f30d2b03.b7df28"]]},{"id":"f30d2b03.b7df28","type":"function","z":"b200fe6b.9981d","name":"","func":"msg.payload = {\"gain\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["527b4bc9.a9ca04"]]},{"id":"a8bf7bde.909f08","type":"ui_slider","z":"b200fe6b.9981d","name":"","label":"Resolution","tooltip":"","group":"224b0f1a.2f47a","order":11,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"8","step":1,"x":110,"y":700,"wires":[["17df4099.c29c1f"]]},{"id":"17df4099.c29c1f","type":"function","z":"b200fe6b.9981d","name":"","func":"msg.payload = {\"resolution\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["527b4bc9.a9ca04"]]},{"id":"d197a2de.1df4b","type":"base64","z":"b200fe6b.9981d","name":"","action":"","property":"payload","x":250,"y":30,"wires":[["2f405bd2.e274a4"]]},{"id":"2f405bd2.e274a4","type":"ui_template","z":"b200fe6b.9981d","group":"52093b60.096bf4","name":"Image","order":1,"width":10,"height":8,"format":"<img height=\"100%\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":400,"y":30,"wires":[[]]},{"id":"dd470a47.43d148","type":"ui_button","z":"b200fe6b.9981d","name":"","group":"224b0f1a.2f47a","order":15,"width":0,"height":0,"passthru":false,"label":"Capture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":180,"wires":[["aec9d983.98d238"]]},{"id":"168a67d.49b7398","type":"ui_slider","z":"b200fe6b.9981d","name":"","label":"Effect","tooltip":"","group":"224b0f1a.2f47a","order":4,"width":3,"height":1,"passthru":true,"outs":"end","topic":"special_effect","min":0,"max":"6","step":1,"x":90,"y":340,"wires":[["48fb5b65.b538d4"]]},{"id":"48fb5b65.b538d4","type":"function","z":"b200fe6b.9981d","name":"","func":"msg.payload = {\"special_effect\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["527b4bc9.a9ca04"]]},{"id":"224b0f1a.2f47a","type":"ui_group","z":"","name":"Settings","tab":"6f11043f.36ff8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"52093b60.096bf4","type":"ui_group","z":"","name":"Img","tab":"6f11043f.36ff8c","order":2,"disp":true,"width":"10","collapse":false},{"id":"6f11043f.36ff8c","type":"ui_tab","z":"","name":"Cam","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
