NodeRed-Demo/flows.json
[{"id":"f3b8b7b0.293488","type":"mqtt in","z":"3f4571fd.476b6e","name":"","topic":"PICTURE","qos":"2","datatype":"auto","broker":"607156c6.88bb18","x":310,"y":420,"wires":[["c9a74ab5.dc70c8"]]},{"id":"c9a74ab5.dc70c8","type":"image","z":"3f4571fd.476b6e","name":"","width":"900","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":580,"y":420,"wires":[]},{"id":"776ab349.61398c","type":"inject","z":"3f4571fd.476b6e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":470,"wires":[["690c4d45.835fc4"]]},{"id":"95afc5f1.335468","type":"inject","z":"3f4571fd.476b6e","name":"COLOR BAR","topic":"","payload":"{\"vflip\":0,\"hmirror\":0,\"colorbar\":1,\"special_effect\":0,\"quality\":10,\"brightness\":0,\"contrast\":0,\"saturation\":0,\"sharpness\":0,\"denoise\":0,\"awb_gain\":1,\"wb_mode\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":550,"wires":[["690c4d45.835fc4","b9845b06.d18398"]]},{"id":"a167d087.a4472","type":"inject","z":"3f4571fd.476b6e","name":"H FLIP","topic":"","payload":"{\"vflip\":0,\"hmirror\":1,\"colorbar\":0,\"special_effect\":0,\"quality\":10,\"brightness\":0,\"contrast\":0,\"saturation\":0,\"sharpness\":0,\"denoise\":0,\"awb_gain\":1,\"wb_mode\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":590,"wires":[["690c4d45.835fc4","b9845b06.d18398"]]},{"id":"69baaebb.7b885","type":"inject","z":"3f4571fd.476b6e","name":"V FLIP","topic":"","payload":"{\"vflip\":1,\"hmirror\":0,\"colorbar\":0,\"special_effect\":0,\"quality\":10,\"brightness\":0,\"contrast\":0,\"saturation\":0,\"sharpness\":1,\"denoise\":0,\"awb_gain\":1,\"wb_mode\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":630,"wires":[["690c4d45.835fc4","b9845b06.d18398"]]},{"id":"537b6b37.f96784","type":"inject","z":"3f4571fd.476b6e","name":"DEFAULT","topic":"","payload":"{\"vflip\":0,\"hmirror\":0,\"colorbar\":0,\"special_effect\":0,\"quality\":10,\"brightness\":0,\"contrast\":0,\"saturation\":0,\"sharpness\":0,\"denoise\":0,\"awb_gain\":1,\"wb_mode\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":510,"wires":[["690c4d45.835fc4","b9845b06.d18398"]]},{"id":"b9845b06.d18398","type":"mqtt out","z":"3f4571fd.476b6e","name":"","topic":"JSONConfig","qos":"","retain":"","broker":"607156c6.88bb18","x":570,"y":630,"wires":[]},{"id":"690c4d45.835fc4","type":"mqtt out","z":"3f4571fd.476b6e","name":"","topic":"TakeAPicture","qos":"","retain":"","broker":"607156c6.88bb18","x":570,"y":470,"wires":[]},{"id":"607156c6.88bb18","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]